<article class='container'>
  <h1 id='title'>rl-week-picker demo</h2>

  <p>The documentation for this component is available
    <a href="https://github.com/rsschermer/ember-rl-week-picker">here</a>.
  </p>

  <p>The source for this demo is available
    <a href="https://github.com/rsschermer/ember-rl-week-picker/tree/gh-pages/demo-app">here</a>.
  </p>

  <p>The left week picker is in standard mode, the right is using flat mode. Both week pickers are bound to the same
    year and weekNumber properties on the controller, so if one changes, the other changes as well.
  </p>

  <p>{{rl-week-picker year=year weekNumber=weekNumber}}</p>

  <p>{{rl-week-picker year=year weekNumber=weekNumber flatMode=true}}</p>
</article>
